@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,500;9..144,700&family=Montserrat:wght@300;700&family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    transition: all ease 0.5s;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background-image: url('images/hm-homepage-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-container{
    background: rgba(0, 0, 0, 0.40);
    color: white;
    width: 50%;
    height: 300px;
    margin: auto;
    translate: 0px 200px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.form-container h1 {
    text-align: center;
}

.form-container .input-box {
    text-align: center;
    width: 100;
    height: 50px;
    margin: 10px 0;
}

.form-container .remember {
    text-align: center;
    margin: -15px 0 15px;
    line-height: 3;
}

.form-container button {
    translate: 0px -30px;
}

form {
    translate: 0px 20px;
}

.form-container a {
    color: white;
}

.register {
    translate: 0px 5px;
}

.container {
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    translate: 0px 60px;
}

.btn-container {
    text-align: center;
    margin: 200px;
}

#easy {
    background-color: #77DD77;
}

#easy:hover {
    background-color: #5dbe5d;
}

#easy:active {
    background-color: #1a4031;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#hard {
    background-color: #FF6961;
}

#hard:hover {
    background-color: #e25850;
}

#hard:active {
    background-color: #1a4031;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn-glass-container {
    display: flex;
    background: rgba(0, 0, 0, 0.40);
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.rules-container {
    text-align: center;
    width: 70%;
    margin: auto;
    translate: 0px 200px;
}

.glass-container {
    position: relative;
    display: block;
    width: 350px;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 38px;
    background: rgba(0, 0, 0, 0.40);
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    align-items: center; 
}

.rules-glass-container {
    background: rgba(0, 0, 0, 0.40);
    padding: 30px 0px 5px 0px;
    margin: auto;
    border-radius: 20px;
    color: white;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.header {
    text-shadow: 2px 2px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}

.logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.nav-bar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.rules {
    color: white;
}

.rules:hover {
    color: lightblue;
}

img {
    display: flex;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: auto;
    translate: 0px -30px;
}

p {
    translate: 0px -20px;
    text-align: center;
}

.rules-content {
    padding: 0px 20px;
}

button {
    font-family: 'Outfit', sans-serif;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    translate: 0px 5px;
    margin: auto;
}

a .btn {
    text-decoration: overline;
}

button:hover {
    background-color: lightblue;
}